@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Karla:wght@200..800&display=swap');
body {
    margin: 0;
    background-color: #1C1C1C;
    background-size: cover;
}

.container {
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    margin: auto;
}

#h1-green {
    color: #4ADF86;
}

h1 {
    color: white;
    width: 354px;
    height: 80px;
    font-family: 'Karla';
    font-size: 39px;
    font-weight: 800;
    letter-spacing: 2.5%;
    padding: 115px 0px 0px 52px;
    text-shadow: 0px 4px 4px #00000040;
}

h2 {
    width: 372px;
    height: 28px;
    color: #D5D4D8;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0px 4px 4px #00000040;
    padding-left: 52px;
}

button {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    text-shadow: 0px 4px 4px #00000040;
    padding: 9px 17px 9px 15px;
    color: white;
    background-color: #10B981;
    border: none;
    border-radius: 6px;
    margin-top: 51px;
    margin-left: 52px;
}

.line {
    border: 1px solid #2F3E53;
    margin: 35px auto;
    width: 446px;
    text-shadow: 0px 4px 4px #00000040;
}

.passwords-fields {
    display: flex;
    justify-content: center;
    gap: 24px;
}

#password-one,
#password-two {
    width: 180px;
    height: 32px;
    padding: 4px 15px 3px 16px;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #55F991;
    background-color: #273549;
    border: none;
    border-radius: 6px;
    line-height: 32px;
    text-align: center;
}